/* 'Poppins', serif */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', serif;
}

:root {
  --primary-color: rgb(0, 225, 187);
  --secondary-color: rgb(9, 148, 125);
  --header-color: rgba(255, 255, 255, 0.3);

  --white-color: #fff;
  --black-color: #000;

  --white-color-thin: #ffffff7f;
  --black-color-thin: #0000007b;

  --site-max-width: 1200px;

  --mobile-breakpoint: 1100px;
}

body {
  background: var(--white-color);
}

.gradient-text {
  background-image: linear-gradient(to right, var(--secondary-color), var(--primary-color));
  color: transparent;
  background-clip: text;
}

.gradient-background {
  background-image: linear-gradient(to right, var(--secondary-color), var(--primary-color));
}

/* Header Styling */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--header-color);
  padding: 20px;
  color: var(--black-color);
}

header .header-container {
  max-width: var(--site-max-width);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-container .header-left h2 {
  font-size: 1.7rem;
  font-weight: 500;
}

.header-container .header-left h2 b {
  font-weight: 600;
}

.header-container .header-mid {
  padding: 0 20px;
}

.header-mid .navbar-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 25px;
}

.navbar-list i {
  display: none;
}

.navbar-list li {
  cursor: pointer;
}

.navbar-list li::after {
  display: block;
  content: '';
  margin: auto;
  width: 0;
  height: 2px;
  background: var(--primary-color);
  transition: width 0.3s ease;
}

.navbar-list li:hover::after {
  width: 100%;
}

.header-container .header-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header-right button {
  border: none;
  border-radius: 200px;
  padding: 0.5rem;
  font-size: 1rem;
  color: white;
  cursor: pointer;
  box-shadow: 0 0 5px var(--black-color-thin);
  transition: box-shadow 0.3s ease-in;
}

.header-right button:hover {
  box-shadow: 0 0 15px var(--black-color-thin);
}

.header-right button.contact-button {
  padding: 0.5rem 1rem;
}

.header-right button.dark-mode-button {
  width: 41px;
  height: 41px;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-container .mobile-button {
  display: none;
  width: 186px;
}

.mobile-button .mobile-menu-button {
  border: none;
  border-radius: 200px;
  width: 41px;
  height: 41px;
  padding: 0.5rem;
  font-size: 1.4rem;
  color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 0 5px var(--black-color-thin);
  transition: box-shadow 0.3s ease-in;
}

.header-container .mobile-menu-button:hover {
  box-shadow: 0 0 15px var(--black-color-thin);
}


/* Hero Section Styling */
.hero-section {
  margin-top: 82px;
  height: calc(100vh - 82px);
  background: var(--white-color);
}

.hero-section .hero-container {
  max-width: var(--site-max-width);
  height: 100%;
  margin: auto;
  display: flex;
  gap: 7rem;
  padding: 20px;
}

.hero-container .hero-container-left {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 1rem;
  text-align: right;
  color: var(--black-color);
}

.hero-container-left h1 {
  font-size: 4rem;
}

.hero-container-left h2 {
  font-size: 2rem;
}

.hero-container-left p {
  font-size: 1rem;
  max-width: 500px;
  text-align: end;
}

.hero-container-left .socials-list {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.socials-list button {
  width: 3rem;
  height: 3rem;
  border: 2px solid var(--primary-color);
  border-radius: 50%;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  color: var(--primary-color);
  cursor: pointer;
  transition: 0.3s ease;
}

.socials-list button:hover {
  background: var(--primary-color);
  color: var(--white-color);
  box-shadow: 0 0 5px var(--black-color-thin);
}

.hero-container-left .hero-action button {
  height: 3rem;
  font-size: 1.3rem;
  background: var(--primary-color);
  color: white;
  border: none;
  border-radius: 100rem;
  padding: 0 1.7rem;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.hero-container-left .hero-action button:hover {
  box-shadow: 0 0 5px var(--black-color-thin);
}

.hero-container .hero-container-right {
  display: flex;
  align-items: center;
}

.hero-container-right .hero-img {
  background: url('assets/person.jpg');
  background-size: cover;
  width: 30rem;
  height: 30rem;
  border-radius: 100rem;
  box-shadow: 0 0 15px var(--black-color-thin);
  transition: box-shadow 0.3s ease;
}

.hero-container-right .hero-img:hover {
  box-shadow: 0 0 35px var(--black-color-thin);
}

@media screen and (width <= 1100px) {
  header.show-mobile-menu::before {
    content: '';
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
  }

  header.show-mobile-menu .header-mid {
    left: 0px;
  }

  .header-container .header-mid {
    position: fixed;
    top: 0;
    left: -300px;
    height: 100vh;
    background: var(--white-color);
    width: 250px;
    box-shadow: 0 0 10px var(--black-color-thin);
    transition: 0.3s ease;
  }

  .header-mid .navbar-list {
    flex-direction: column;
    padding-top: 100px;
    align-items: center;
    gap: 25px;
  }

  .navbar-list i {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
  }

  .header-container .mobile-button {
    display: flex;
    justify-content: flex-end;
  }

  .header-container .header-right {
    justify-self: flex-end;
  }

  .header-right .contact-button {
    display: none;
  }

  .hero-section .hero-container {
    flex-direction: column-reverse;
    padding: 100px 20px 20px 20px;
    gap: 3rem;
    margin: 0;
    height: fit-content;
  }
  .hero-container .hero-container-left {
    align-items: center;
  }
  .hero-container-left p {
    text-align: center;
    max-width: 100%;
  }
  .hero-container .hero-container-right {
    justify-content: center;
  }
  .hero-container-right .hero-img {
    background: url('assets/person.jpg');
    background-size: cover;
    width: 10rem;
    height: 10rem;
    border-radius: 100rem;
    box-shadow: 0 0 15px var(--black-color-thin);
    transition: box-shadow 0.3s ease;
  }
} 